*{

    margin:0; padding:0;


}
body{
    font-family: 'Nunito', sans-serif;
}
nav div .navbar-brand{
    font-size: 2rem;
    font-weight: 3rem;
    color: rgb(251, 36, 8)!important;
}
.banner {
    padding: 6em 0 8em 0;
    text-align: center;
  width: 100%;
  background-image: url(/images/home-pg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 2px solid #fff;
  border-bottom: 0;
}
.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
}

.banner p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 2em;
    letter-spacing: 2px;
  padding: 0 0 2em 0;
}

.border-bottom {
    border-top: 0;
    border-bottom: 2px solid #fff !important;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
  }

  .hr {
    display: flex;
    align-items: center;
  }

  hr {
    width: 30px;
    height: 1px;
    background: black;
    margin: 0 15px;
  }

  h2 {
    margin-top: 2rem;  
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(134, 133, 132);
  }

  p {
    text-align: justify;
  }

  .aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .unit {
    margin: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unit img {
    cursor: pointer; 
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  

  .unit p {
    text-align: left;
    margin: 2px;
  }

  .unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
  }